body{
    margin:0;
}
.copyright{
    background-color: #0C1F3F;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: whitesmoke;
    
}
/*  Code for responsiveness  */
/* @media(min-width: 900px){

} */