@import url(index-style.css);
@import url(blogpost-style.css);
@import url(gallery.css);
body{
    margin:0;
}
header{
    background-color: #FFE7E7;
    height: 512px;
}
.header-nav{
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 20px 10px 20px;
    background-color: #FFE7E7;
}
nav{
    
    display: flex;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
}
a li{
    list-style: none;
}
.header-nav li{
    cursor: pointer;
    color: #1044FF;
}
.header-nav button{
    background-color: #1044FF;
    cursor: pointer;
    width: 130px;
    height:44px;
    color: #fff;
    border:none;
    border-radius: 10px;
}
.author{
    margin-top: 192px;
}
.author h1{
    font-size: 72px;
    text-align: center;
    text-transform: capitalize;
    color: #1044FF;
    margin-top: 0;
    margin-bottom: 0;

}
hr{
    border: 10px solid #1044FF;
    border-radius: 5px;
    width: 571px;
}
.author p{
    text-align: center;
    color: #1044FF;
    font-size: 20px;
    letter-spacing: 5px;
    
}
main{
    margin-top: 0;
display: grid;
width:100%;
grid-template-columns: 73vw 21vw;
grid-template-rows: 115vh 85vh;
grid-template-areas: "section aside"
"footer footer";
justify-content: center;
gap: 20px;
/* background-color: #1044FF; */
}
section{
    grid-area: section;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.article-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
article{
    border: 1px solid white;
    border-radius: 12px;
}
article figure img{
    width: 100%;
}
aside{
    grid-area: aside;
    margin-top:40px;

}
aside .categories{
    border: 1px solid blue;
    border-radius: 9px;
}
section button{
    grid-area: button;
}
footer{
    grid-area: footer;
}
#contact{
    height: 340px;
    background-color: lightblue;
}
#socials{
    height: 340px;
    background-color: greenyellow;
}
.copyright{
    background-color: #0C1F3F;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: whitesmoke;
    
}
.progress p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}
.progress .anchor{
    background-color: #1044FF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 700px;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 70px;
    width: 150px;
    cursor: pointer;
}
/*  Code for responsiveness  */
@media(max-width:1400px) and (min-width:599px){
    header{
        height: 450px;   
       } 
       main{
           /* margin-top: 300px; */
           display: grid;
           grid-template-columns: 100%;
           grid-template-rows: 110vh 50vh 90vh;
           grid-template-areas:
           "section"
           "aside"
           "footer";
           /* background-color: #0C1F3F; */
           /* width: 100%; */
           gap: 2em;
       }
       section{
           grid-area: section;
           display: flex;
           flex-direction: column;
           justify-content: center;
           gap: 1em;
           overflow: hidden;
       }
       aside{
           grid-area: aside;
           display: flex;
           flex-direction: column;
           justify-content: center;
           gap: 1em;
           overflow: hidden;
           
       }
       #content{
        width: 100%;
    }
    .gallery{
      
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:1em
        
    }
    
       footer{
           grid-area: footer;

          display: flex;
          flex-direction: column;
          width: 100%;
           margin: auto;
       }
}
@media(max-width:815px) and (min-width:599px){
    body{ margin:0;
        overflow-x: hidden;
    } 
    header{
        height: 80px;
    }
    .header-nav{
        height: 80px;
        width: 100%
    }
    .author{
        display: none;
    }
    #content{
        width: 100%;
    }
    .gallery{
      
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:1em
        
    }
   
}
@media(max-width:600px){
    body{
        margin:0;
        /* display:flex;
        flex-direction: column; */
        overflow-x: hidden;
    }
   header{
     height: 80px;   
    } 
    .header-nav{
        width:600px;
    }
    main{
        /* margin-top: 300px; */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 110vh 50vh 90vh;
        grid-template-areas:
        "section"
        "aside"
        "footer";
        /* background-color: #0C1F3F; */
        /* width: 100%; */
        gap: 1em;
        width: 600px;
        /* overflow: hidden; */
    }
    
    .author{
        display: none;
    }
    section{
        
        grid-area: section;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        overflow: hidden;
        
    }
    aside{
        grid-area: aside;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        overflow: hidden;
        
    }
    #content{
        width: 600px;
        overflow: hidden;
    }
    .gallery{
        width: 600px;
       justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       gap: 1em;
        
    }
    
    footer{
        grid-area: footer;
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 600px;
     
        
    }
}